<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>aixintao.png</key>
<dict>
<key>frame</key>
<string>{{84,240},{129,109}}</string>
<key>offset</key>
<string>{-1.0,1.0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{129,109}}</string>
<key>sourceSize</key>
<string>{130,110}</string>
</dict>
<key>aixintao2.png</key>
<dict>
<key>frame</key>
<string>{{382,0},{168,112}}</string>
<key>offset</key>
<string>{2,-2}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{4,2},{168,112}}</string>
<key>sourceSize</key>
<string>{172,114}</string>
</dict>
<key>baozhao.png</key>
<dict>
<key>frame</key>
<string>{{424,240},{74,85}}</string>
<key>offset</key>
<string>{-1,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{1,0},{74,85}}</string>
<key>sourceSize</key>
<string>{78,85}</string>
</dict>
<key>biandaodang.png</key>
<dict>
<key>frame</key>
<string>{{296,180},{79,50}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{3,1},{79,50}}</string>
<key>sourceSize</key>
<string>{85,52}</string>
</dict>
<key>biandaodang2.png</key>
<dict>
<key>frame</key>
<string>{{213,240},{125,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{125,102}}</string>
<key>sourceSize</key>
<string>{125,102}</string>
</dict>
<key>bianjiguang.png</key>
<dict>
<key>frame</key>
<string>{{126,176},{83,56}}</string>
<key>offset</key>
<string>{-1.0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{83,56}}</string>
<key>sourceSize</key>
<string>{84,56}</string>
</dict>
<key>birdbullet01.png</key>
<dict>
<key>frame</key>
<string>{{126,74},{102,170}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{102,170}}</string>
<key>sourceSize</key>
<string>{102,170}</string>
</dict>
<key>birdbullet02.png</key>
<dict>
<key>frame</key>
<string>{{292,349},{73,94}}</string>
<key>offset</key>
<string>{-1.0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{73,94}}</string>
<key>sourceSize</key>
<string>{74,94}</string>
</dict>
<key>bridbullet03.png</key>
<dict>
<key>frame</key>
<string>{{382,168},{70,94}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{1,1},{70,94}}</string>
<key>sourceSize</key>
<string>{72,98}</string>
</dict>
<key>daodang.png</key>
<dict>
<key>frame</key>
<string>{{0,240},{84,196}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,2},{84,196}}</string>
<key>sourceSize</key>
<string>{84,198}</string>
</dict>
<key>daodang2.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{126,240}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{126,240}}</string>
<key>sourceSize</key>
<string>{126,240}</string>
</dict>
<key>guanghuan.png</key>
<dict>
<key>frame</key>
<string>{{338,240},{86,82}}</string>
<key>offset</key>
<string>{-1.0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{86,82}}</string>
<key>sourceSize</key>
<string>{87,82}</string>
</dict>
<key>jiagongji1.png</key>
<dict>
<key>frame</key>
<string>{{0,436},{66,63}}</string>
<key>offset</key>
<string>{-2,1}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{2,0},{66,63}}</string>
<key>sourceSize</key>
<string>{74,65}</string>
</dict>
<key>jiaxue.png</key>
<dict>
<key>frame</key>
<string>{{386,349},{86,72}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{86,72}}</string>
<key>sourceSize</key>
<string>{86,72}</string>
</dict>
<key>jiguang1.png</key>
<dict>
<key>frame</key>
<string>{{126,0},{74,256}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{74,256}}</string>
<key>sourceSize</key>
<string>{74,256}</string>
</dict>
<key>zidan1.png</key>
<dict>
<key>frame</key>
<string>{{84,349},{56,208}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{56,208}}</string>
<key>sourceSize</key>
<string>{56,208}</string>
</dict>
<key>zidan2.png</key>
<dict>
<key>frame</key>
<string>{{209,176},{50,84}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{50,84}}</string>
<key>sourceSize</key>
<string>{50,84}</string>
</dict>
<key>zidan3.png</key>
<dict>
<key>frame</key>
<string>{{296,74},{74,106}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{74,106}}</string>
<key>sourceSize</key>
<string>{74,106}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>bysj_resorce1_0.png</string>
<key>size</key>
<string>{512,512}</string>
<key>TextureFileName</key>
<string>bysj_resorce1_0.png</string>
</dict>
</dict>
</plist>
