<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>hxl01.png</key>
<dict>
<key>frame</key>
<string>{{0,333},{150,160}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{150,160}}</string>
<key>sourceSize</key>
<string>{150,160}</string>
</dict>
<key>hxl02.png</key>
<dict>
<key>frame</key>
<string>{{126,493},{114,144}}</string>
<key>offset</key>
<string>{0,-3}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,6},{114,144}}</string>
<key>sourceSize</key>
<string>{114,150}</string>
</dict>
<key>hxl03.png</key>
<dict>
<key>frame</key>
<string>{{354,493},{110,147}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{110,147}}</string>
<key>sourceSize</key>
<string>{110,147}</string>
</dict>
<key>hxl04.png</key>
<dict>
<key>frame</key>
<string>{{326,185},{142,160}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,1},{142,160}}</string>
<key>sourceSize</key>
<string>{142,162}</string>
</dict>
<key>hxl05.png</key>
<dict>
<key>frame</key>
<string>{{146,0},{165,154}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,2},{165,154}}</string>
<key>sourceSize</key>
<string>{165,156}</string>
</dict>
<key>hxl06.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{146,185}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{146,185}}</string>
<key>sourceSize</key>
<string>{146,185}</string>
</dict>
<key>hxl07.png</key>
<dict>
<key>frame</key>
<string>{{311,0},{135,187}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{135,187}}</string>
<key>sourceSize</key>
<string>{135,187}</string>
</dict>
<key>hxl08.png</key>
<dict>
<key>frame</key>
<string>{{166,185},{145,160}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{145,160}}</string>
<key>sourceSize</key>
<string>{145,160}</string>
</dict>
<key>hxl09.png</key>
<dict>
<key>frame</key>
<string>{{300,333},{144,154}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,2},{144,154}}</string>
<key>sourceSize</key>
<string>{144,156}</string>
</dict>
<key>hxl10.png</key>
<dict>
<key>frame</key>
<string>{{0,185},{166,148}}</string>
<key>offset</key>
<string>{-3,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{166,148}}</string>
<key>sourceSize</key>
<string>{172,148}</string>
</dict>
<key>hxl11.png</key>
<dict>
<key>frame</key>
<string>{{0,493},{126,150}}</string>
<key>offset</key>
<string>{-6,2}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{1,1},{126,150}}</string>
<key>sourceSize</key>
<string>{140,156}</string>
</dict>
<key>hxl12.png</key>
<dict>
<key>frame</key>
<string>{{240,493},{114,144}}</string>
<key>offset</key>
<string>{0,-3}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,6},{114,144}}</string>
<key>sourceSize</key>
<string>{114,150}</string>
</dict>
<key>hxl13.png</key>
<dict>
<key>frame</key>
<string>{{150,333},{150,160}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{150,160}}</string>
<key>sourceSize</key>
<string>{150,160}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>bysj_brid_0.png</string>
<key>size</key>
<string>{512,1024}</string>
<key>TextureFileName</key>
<string>bysj_brid_0.png</string>
</dict>
</dict>
</plist>
