<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>aixintao.png</key>
<dict>
<key>frame</key>
<string>{{84,240},{129,109}}</string>
<key>offset</key>
<string>{-1.0,1.0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{129,109}}</string>
<key>sourceSize</key>
<string>{130,110}</string>
</dict>
<key>aixintao2.png</key>
<dict>
<key>frame</key>
<string>{{126,0},{168,112}}</string>
<key>offset</key>
<string>{2,-2}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{4,2},{168,112}}</string>
<key>sourceSize</key>
<string>{172,114}</string>
</dict>
<key>daodang.png</key>
<dict>
<key>frame</key>
<string>{{0,240},{84,196}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,2},{84,196}}</string>
<key>sourceSize</key>
<string>{84,198}</string>
</dict>
<key>daodang2.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{126,240}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{126,240}}</string>
<key>sourceSize</key>
<string>{126,240}</string>
</dict>
<key>zidan1.png</key>
<dict>
<key>frame</key>
<string>{{0,436},{56,208}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{56,208}}</string>
<key>sourceSize</key>
<string>{56,208}</string>
</dict>
<key>zidan2.png</key>
<dict>
<key>frame</key>
<string>{{126,168},{50,84}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{50,84}}</string>
<key>sourceSize</key>
<string>{50,84}</string>
</dict>
<key>zidan3.png</key>
<dict>
<key>frame</key>
<string>{{84,349},{74,106}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key><true/>
<key>sourceColorRect</key>
<string>{{0,0},{74,106}}</string>
<key>sourceSize</key>
<string>{74,106}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>bysj_bullet_0.png</string>
<key>size</key>
<string>{256,512}</string>
<key>TextureFileName</key>
<string>bysj_bullet_0.png</string>
</dict>
</dict>
</plist>
