<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>enemyplan1.png</key>
<dict>
<key>frame</key>
<string>{{258,130},{71,62}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{1,1},{71,62}}</string>
<key>sourceSize</key>
<string>{75,64}</string>
</dict>
<key>enemyplan2.png</key>
<dict>
<key>frame</key>
<string>{{246,196},{103,77}}</string>
<key>offset</key>
<string>{-1,1.0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{103,77}}</string>
<key>sourceSize</key>
<string>{105,78}</string>
</dict>
<key>enemyplan3.png</key>
<dict>
<key>frame</key>
<string>{{349,196},{97,73}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{2,0},{97,73}}</string>
<key>sourceSize</key>
<string>{101,73}</string>
</dict>
<key>enemyplan4.png</key>
<dict>
<key>frame</key>
<string>{{258,0},{199,130}}</string>
<key>offset</key>
<string>{-3,1}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{199,130}}</string>
<key>sourceSize</key>
<string>{205,132}</string>
</dict>
<key>enemyplan5.png</key>
<dict>
<key>frame</key>
<string>{{0,196},{246,204}}</string>
<key>offset</key>
<string>{-1,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{246,204}}</string>
<key>sourceSize</key>
<string>{248,204}</string>
</dict>
<key>enemyplan6.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{258,196}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{0,0},{258,196}}</string>
<key>sourceSize</key>
<string>{258,196}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>bysj_enemyplan_0.png</string>
<key>size</key>
<string>{512,512}</string>
<key>TextureFileName</key>
<string>bysj_enemyplan_0.png</string>
</dict>
</dict>
</plist>
